# Build output
bin/
obj/
dist/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.rsuser
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Publish profiles
*.pubxml
*.publishproj

# Avalonia cache
**/Avalonia/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE_BIN/
.DS_Store
.AppleDouble
.LSOverride

# User settings
appsettings.Development.json
appsettings.Local.json
